<div class="row">
  <div class="col-md-6 "><li><%= question.content %></li></div>

  <div class="col-md-4">
    <%= link_to 'Details', admin_category_question_path(@category, question) %> |
    <%= link_to "Edit", edit_admin_category_question_path(@category, question) %> |
    <%= link_to "Delete", [:admin, @category, question], method: :delete, 
      data: {confirm: t('deleting_confirmation')} %>
  </div>
</div>
