<% provide :title, "Dashboards" %>

<h1>Admin Dashboards</h1>
<ul class="list-group">
  <li class="list-group-item"><%= link_to "Users", admin_users_path %></li>
  <li class="list-group-item"><%= link_to "Categories", admin_categories_path %></li>
  <li class="list-group-item"><%= link_to "Exams", admin_exams_path %></li>
</ul>
