<li>
  <% if current_user != user %>
    <%= image_tag user.avatar.url if user.avatar? %>
    <%= link_to user.name, user %>
    | <%= link_to "delete", admin_user_path(user), method: :delete,
      data: {confirm: "You sure?"} %>
  <% end %>
</li>
